:root {
    --c-white: #FFFFFF;
    --c-black: #000000;
    --c-light: #fafafa;
    --c-grey: #ededed;
    --c-grey-dark: #2C2C2C;

    --c-variant-black: #000000;
    --c-variant-purple: #781dbc;
    --c-variant-red: #e10000;
    --c-variant-yellow: #e1b000;
    --c-variant-grey: #e8e8e8;


    --container-width: 1120px;
    --container-padding-x: 15px;

    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 24px;
    --space-l: 36px;
    --space-xl: 56px;
    --space-xxl: 80px;
    --space-xxxl: 104px;
}